__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
venv/

data/raw/videos/*
!data/raw/videos/.gitkeep
data/sampled_frames/*
data/annotation_candidates/*
data/debug/*
models/yolo/*
!models/yolo/.gitkeep
outputs/*
!outputs/.gitkeep

*.pt
*.onnx
*.mp4
*.mov
*.avi
*.mkv
